@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

/* NAVIGATION BAR */
.nav {
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav.scrolled {
  background-color: #fff !important;
  -webkit-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.menu-open {
  position: absolute;
  line-height: 60px;
  left: 1.4em;
  z-index: 1;
}

.menu-open:hover {
  cursor: pointer;
}

.brand span a {
  position: absolute;
  line-height: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 4px;
}

.brand a:hover {
  text-decoration: none;
}

.cart {
  position: absolute;
  line-height: 60px;
  top: 2px;
  right: 1.4em;
  font-weight: 300;
}

.cart:hover {
  cursor: pointer;
}

/* MENU */
.menu {
  position: fixed;
  z-index: 2;
  width: 30%;
  left: -100%;
  height: 100vh;
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
  .menu {
    width: 100%;
    left: -100%;
  }
}

.menu-close {
  position: relative;
  line-height: 60px;
  float: right;
  margin-right: 20px;
}

.menu-close:hover {
  cursor: pointer;
}

.menu ul {
  list-style: none;
  position: relative;
  top: 40%;
  left: 10%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.menu ul li {
  padding-bottom: 20px !important;
}

.menu ul li a {
  font-size: 12px;
}

.menu ul li a:hover {
  text-decoration: none;
}

.media-menu {
  position: relative;
  top: 50%;
}

.media-menu ul li {
  display: inline-block;
  padding-right: 10px;
}

/* HERO SECTION */
a {
  color: grey !important;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

img {
  width: 100%;
}

.prod-image {
  margin-top: 50px;
}

#prod-img {
  margin-top: 50px;
  display: block;
}

th,
td {
  padding: 0.24rem;
  vertical-align: none !important;
}

/* Defining general properties for media icons */
ion-icon {
  font-size: 1.6rem;
}

.media {
  position: absolute;
  bottom: 20px;
  right: 0;
  margin-right: 20px;
}

.media ul {
  list-style: none;
  font-size: 20px;
  margin: 0 28px;
}

.media ul li {
  display: contents;
}

@media (max-width: 991px) {
  .media {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .media ul {
    font-size: 8px;
    margin-left: -15px;
  }
  .media ul li {
    display: contents;
    margin: 0 15px;
  }
}

/* SECTON BASIC */
.section {
  padding: 50px 40px;
}

.section p {
  font-size: 24px;
  font-weight: 300;
}

#prod-desc {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 300;
}

.prod-sec {
  width: 101%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.prod-sec p {
  font-size: 24px;
  font-weight: 300;
}

#price {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

/* FOOTER */
.footer {
  position: relative;
  bottom: 0px;
  right: 0px;
  padding: 30px 0;
  background: #f7f6f2;
}

.block {
  font-size: 20px;
}

.footer .media {
  top: 20px !important;
}

footer p {
  text-align: center;
  font-size: 14px !important;
}

/* SHOP Page */
.whitespaces {
  height: 100px;
}

.collection {
  padding: 40px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.collection #heading {
  font-size: 20px;
  margin-left: 50px;
  padding-bottom: 0;
  position: relative;
  display: inline-block;
}

#heading::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #ece1b6;
}

.collection .section {
  margin: -50px 0;
}

/* PRODUCT PAGE */
.product-sec {
  padding-top: 60px;
}

@media (max-width: 900px) {
  .product-sec {
    border-bottom: none !important;
  }
}

#rightSide {
  height: 700px;
  margin-top: -135px;
}

.prod-opt {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.prod-opt #price {
  padding: 16px 0;
}

.product-sec ::-webkit-input-placeholder,
input {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 4px;
  padding-left: 10px;
  padding-bottom: 3px;
}

.product-sec :-ms-input-placeholder,
input {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 4px;
  padding-left: 10px;
  padding-bottom: 3px;
}

.product-sec ::-ms-input-placeholder,
input {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 4px;
  padding-left: 10px;
  padding-bottom: 3px;
}

.product-sec ::placeholder,
input {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 4px;
  padding-left: 10px;
  padding-bottom: 3px;
}

.checkout {
  max-width: 980px;
  margin: auto;
}

/* ABOUT PAGE */
.content p {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 900px) {
  #lenseOpt,
  .lenseOpt {
    display: none;
  }
  table {
    font-size: 0.8em;
  }
}

.checkout {
  padding: 100px;
  height: 70vh;
}

@media (max-width: 800px) {
  .checkout {
    padding: 60px;
    height: 65vh;
    font-size: 1em;
  }
  .checkout .card-title {
    font-size: 1em;
  }
  .checkout #backBtn {
    font-size: 0.9em;
  }
}
/*# sourceMappingURL=main.css.map */